<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorConfig">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MusicPlayer_Service_WCF.Service1"
					 behaviorConfiguration="behaviorConfig">
        <endpoint address= "net" binding="basicHttpBinding"  bindingConfiguration="httpBinding"   contract ="MusicPlayer_Service_WCF.ItransferService"/>
        <endpoint address="http://localhost:7996/mex" binding="mexHttpBinding"  contract="IMetadataExchange" />
        <endpoint address="nett" binding="netTcpBinding" bindingConfiguration="nettcpBinding" contract="MusicPlayer_Service_WCF.ItransferService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" transferMode="StreamedRequest"
                  openTimeout="00:10:00"
                   closeTimeout="00:10:00"
                   sendTimeout="00:10:00"
                   receiveTimeout="00:10:00"
                  maxBufferPoolSize="524288" 
                  maxReceivedMessageSize="4294961"/>
      </basicHttpBinding>
    
      <netTcpBinding>
        <binding name="nettcpBinding" transferMode="Streamed"
                 openTimeout="00:10:00"
                  closeTimeout="00:10:00"
                  sendTimeout="00:10:00"
                  receiveTimeout="00:10:00"
                 maxBufferPoolSize="524288999"
                 maxReceivedMessageSize="42949672"
                 >
          <security mode="None">
          </security>
          <readerQuotas maxArrayLength="67108864"
                  maxBytesPerRead="67108864"
                  maxStringContentLength="67108864"/>
          <!--<reliableSession enabled="true" inactivityTimeout="00:20:00" />-->
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>